<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeerJS</title>
    <style>
        a {
            color: #008;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Desafio 03</h1>
    <h2>Diego Clair Rodrigues</h2>
    <br>
    <br>
    <a href="./sender" target="_blank">Sender</a> |
    <a href="./receiver" target="_blank">receiver</a>
</body>
</html>